<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProgettoPW</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>authentication.AuthenticationFilter</filter-class>
  </filter>
  <filter>
    <filter-name>RoleFilter</filter-name>
    <filter-class>authentication.RoleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/structure/PrivatePage.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/structure/PrivatePage.jsp</url-pattern>
  </filter-mapping>
</web-app>