body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

h3 {
	margin-left: 1%;
	margin-top: 0%;
}

#topBar {
	padding: 6% 0% 4% 27%;
	background-color: #7894D1;
	/*width: 100%;*/
}

#topBar #istruttore, #topBar #allievo{
	float: left;
}

#topBar th {
	background-color: #385ba5;
	box-shadow: 0px 0px 3px #F5F5F5;
}

#topBar table {
	border-spacing: 20px;
	border-collapse: separate;
}

/* Include */

#attendanceSection {
	background-color: #5873f1;
	/*padding: 2% 2% 2% 2%;*/
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 35%;	
}


#examSection {
	background-color: #1338e6;
	/*margin: 0% 0% 2% 0%;*/
	/*padding: 2% 2% 2% 2%;*/
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 35%;	
}

#content {
	margin: 0% 2% 0% 2%;
}

#topBar table,#topBar th, #topBar td {
	border: none;
}

table,  th, td  {
	border: 1px solid;
}