body {
	font-family: sans-serif;
	background-color: #a8c5ff;
	max-width: 1920px;	
}

nav {
    width: 80%;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 1%;
}

nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

nav a {
	background-color:rgba(0,0,0,0);    
    color:#fff;
    text-decoration:none;
}

ul.barbody {
    position:relative;        
}

.subs {
    transition: height 0.3s linear;
    overflow:hidden;
    position:absolute;
    height: 0%;
    left: 0px;
    z-index: 1;
    width:100%;    
}

.barbody li {
    float:left;
    position:relative;    
    background-color:#0A57FF;
    border:1px solid #003dbb;
    color:#FFF;
    display: list-item;
    font-size:16px;
    line-height:35px;
    text-decoration:none;
    width: 19%;
   /* background-image: url("prova.jpg");*/
}

li.linkbutton {
    padding-bottom: 0px;
    text-align: center;    
}

.linkbutton:hover {
	background-color:#0080c0;		
}

.linkbutton:hover .subs {
    border:1px solid #003dbb;    
    width:100%;	
    height: 300%;  
}

li.innerbutton {
	width:100%;	
}

li.linkbutton:hover li.innerbutton {
	width:100%;	
	text-align: center;
}

.innerbutton:hover {
    background-color:#0080c0;    
}

@media screen and (max-width: 900px) {
	body {
		font-family: sans-serif;
		background-color: #a8c5ff;
		padding: 0px 0px 0px 0px;
	}
	
	nav {
    	width: 100%;
	    margin-left: 0%;
    	margin-right: 0%;
    	margin-top: 0%;
	}

	.barbody li {
	    line-height: 25px;
	}
}




/*.linkbutton a {
    display:block;
}*/


/*body {
	font-family: sans-serif;
	background-color: #a8c5ff;
	max-width: 1920px;
}

nav {
	background-color: red;
    width: 80%;
	margin: 0% 50% 0% 0%;
}

nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

nav a {
	background-color:rgba(0,0,0,0);    
    color:#fff;
    text-decoration:none;
}

ul.barbody {
    position:relative;
    
}

.subs {
    overflow:hidden;
    position:absolute;
}

.barbody li {
    float:left;
    position:relative;    
    background-color:#0A57FF;
    border:1px solid #003dbb;
    color:#FFF;
    display: block;
    font-size:16px;
    line-height:35px;
    padding:5px 20px;
    text-decoration:none;
    width: 10%;
}

li.linkbutton {
    padding-bottom: 0px;
    text-align: center;    
}

.linkbutton:hover {
	background-color:#0080c0;	
	
}

.linkbutton:hover .subs {
	left: 0px;
    z-index: 1;
    border:1px solid #003dbb;    
}

.linkbutton:hover .innerbutton {
	display: block;
	width:100%;	
	text-align: left;
}

li.innerbutton {
	display: none;
}

.innerbutton:hover {
    background-color:#0080c0;    
}
*/